body {
    font-family: 'Open Sans', sans-serif;
}

#canvasContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 800px;
    margin: auto;
}

#menu {
    order: 1;
    background-color: orange;
    padding: 4px;
}

.button {
    display: inline-block;
    padding: 4px;
    background-image: url(button.png);
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.button:hover{
    cursor: pointer;
}

canvas {

}